// @import style

$color-dark-grey: #414146
$color-light-grey: #e2e8e8
$color-middle-grey: #d3dcdc
$color-olive: #c4dbdb

*
	box-sizing: border-box

body
	font-family: 'Nunito', sans-serif

header.header
	.header-container
		display: grid
		grid-template-rows: 1fr
		grid-template-columns: repeat(17, 1fr)

.main-menu
	display: flex
	justify-content: space-between
	list-style: none
	grid-column: 1 / 4
	grid-row: 1
	align-items: flex-end
	padding-right: 58px
	li
		a.hamb
			img
				width: 20px
				height: 14px
		a 
			color: #1c1c1c
			text-transform: uppercase
			text-decoration: none
			font-weight: 700
			font-size: 14px

.hero
	&-container
		display: grid
		grid-template-rows: repeat(8, 1fr)
		grid-template-columns: repeat(17, 1fr)

.hero-image

