// @import style

$color-dark-grey: #414146
$color-light-grey: #e2e8e8
$color-middle-grey: #d3dcdc
$color-olive: #c4dbdb

*
	box-sizing: border-box

header.header
	.header-container
		display: grid
		grid-template-rows: repeat(8, 111px)
		grid-template-columns: repeat(17, 111px)

.main-menu
	list-style: none
	li
		a.hamb
			img
				width: 20px
				height: 14px
		a 
			color: #1c1c1c
			text-transform: uppercase
			text-decoration: none
			font-family: 'Nunito', sans-serif
			font-weight: 700
			font-size: 14px

