extends _layouts/home

block content


	.grid
		header.header
			.header-container
				.logo
					img(src="img/logo.png" alt="logo")
				input(type="checkbox" id="menu-checkbox")
				nav(role="navigation")
					label(for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick)
				ul.main-menu
					li: a.hamb(href="index.html")
						img(src="img/menu-icon.svg", alt="Alt")
					li: a(href="#") Clients
					li: a(href="#") News
				.header-icons
					p text
		include _partials/main
		include _partials/cards-block